body {
    background-color: #68C3D4;
}

/*hr {
   border: 0px solid #6883BA;
   border-top: 3px solid #6883BA;
}*/

h2{
    text-align:center;
    background-color: #8CC084;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-style: outset;
}

.sup {
    background-color: #FFCB47;
    border-style: double;
    padding-top: 20px;
    padding-bottom: 20px;
}

#a1 {
    font-style: italic;
    font-weight: bold;
    font-size: 3em;
}

#a2 {
    font-weight: bold;
    font-size: 2em;
}

.container {
    padding: 1em;
}

.items {
    background-color: #77BFA3;
    border-style: double;
    width: 25%;
    margin: 1em;
}

.items2 {
    background-color: #77BFA3;
    border-style: double;
    text-align: justify;
    width: auto;
    padding: 10px;
}

#izq {
    margin: 0 auto;
    float: left;
    height: auto;
    text-align: center;
}

#instr {
    text-align: justify;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-right: 10px;
    padding-left: 10px;
}

#list{
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: left;
}

#der {
    margin: 0 auto;
    float: right;
    height: auto;
    text-align: center;
}

#centro {
    margin: 0 auto;
    width: 40%;
    align-content: center;
    height: auto;
}

.cuadrados {
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-collapse: collapse;
    position: relative;
    background-color: #EEEEEEFF;
}

.tabla {
    margin: 0 auto;
    text-align: left;
}

.former{
    text-align: center;
    margin: 10px;
}

.botones{
    background-color: lightgray;
    margin:15px;
    font-weight: bold;
    text-align: center;
    width: 90px;
    height: 40px;
}


